<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GAMRANI SCRIPT</title>
    <link rel="stylesheet" href="script.css">
  </head>
  <body ng-app="app">

   <div class="container" ng-controller="ctrl">
     <div class="">
         <input type="text" placeholder="search your item" ng-model="cherche">
      </div>

      <ol>
            <li ng-repeat="item in iteams | filter:cherche" >

             By {{item.quantity}} of {{item.name}}
             <button type="button" name="button" ng-click="remove($index)">Remove</button>
           </li>
      </ol>

      <button type="button" name="button" ng-click="add()">Add</button>


     <div class="" ng-show="valeur">



               <input type="text" placeholder="name" ng-model="AddName" required="required">
               <input type="number" ng-model="AddQuantity" placeholder="quantity" required="required">
               <button type="button" name="button" ng-click="ajouter()"> Add an item </button>

       </div>

   </div>

  <script src="angular.js"></script>
  <script src="script.js"></script>
  </body>
</html>
